@using Microsoft.AspNetCore.Identity
@using PetShelter.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject LanguageService language

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <img src="https://icons.veryicon.com/png/o/internet--web/prejudice/user-128.png" style="width:40px">
            </a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Pet", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">@language.GetKey("logout")</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">@language.GetKey("register")</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">@language.GetKey("login")</a>
    </li>
}
</ul>
