@inject LanguageService language
@model PetShelter.Models.Adoption

<form asp-action="Form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="PetId" />
    <label>Daha Önce Hiç Hayvan Sahiplendiniz Mi?</label>
    <input asp-for="BeforePet" class="form-control">
    <span asp-validation-for="BeforePet" class="text-danger"></span>
    <label>Sahiplendiğiniz Hayvana Nerede Bakacaksınız?</label>
    <input asp-for="HomePet" class="form-control">
    <span asp-validation-for="HomePet" class="text-danger"></span>
    <label>Adres</label>
    <input asp-for="Adress" class="form-control">
    <span asp-validation-for="Adress" class="text-danger"></span>

    <input type="submit" value="@language.GetKey("save")" class="btn btn-primary" style="margin-top:1rem" />
</form>