@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

</div>

<style>
/*    body {
        position: relative;
        background-color: #000;
    }

        body::before {
            content: ' ';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            opacity: 0.5;
            background: url("https://st3.idealista.com/cms/archivos/styles/idcms_social_tablet/public/2019-02/media/image/pets%201%20pixabay.jpg?fv=_0Qt8g_q&itok=jXSqSMCI") no-repeat center center;
            background-size: cover;
        }*/
</style>