@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AnimalShelter.Models.ProjectRole
@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="RoleName"></label>
        <input asp-for="RoleName" />
        <span asp-validation-for="RoleName"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="create" />
    </div>
</form>
