@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
@inject LanguageService language
<div class="container">
    <h1>@language.GetKey("adoptionDelete")</h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="Panel" asp-action="Adoption"> @language.GetKey("backtohome")</a>
</div>

<style>
    .container {
        text-align:center;
    }

</style>