@model AnimalShelter.Models.Adoption
@{
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<h1>onaylandı</h1>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
