@model AnimalShelter.Models.User

<h1>Login</h1>
<form asp-action="Index">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <label>Username</label>
    <input asp-for="Username" class="form-control" type="text" placeholder="" aria-label="">
    <span asp-validation-for="Username" class="text-danger"></span>
    <label>Password</label>
    <input asp-for="Password" class="form-control" type="password" placeholder="" aria-label="">
    <span asp-validation-for="Password" class="text-danger"></span>
    <input type="submit" value="Sign In" class="btn btn-primary" style="margin-top:1rem" />
</form>