@model AnimalShelter.Models.Animal

<div class="container">
    <h1>New Animal</h1>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="AnimalId" />
        <label>Familya</label>
        <input asp-for="Familya" class="form-control">
        <span asp-validation-for="Familya" class="text-danger"></span>
        <label>Species</label>
        <input asp-for="Species" class="form-control">
        <span asp-validation-for="Species" class="text-danger"></span>
        <label>Age</label>
        <input asp-for="Age" class="form-control">
        <span asp-validation-for="Age" class="text-danger"></span>
        <label>Image Link</label>
        <input asp-for="Image" class="form-control">
        <span asp-validation-for="Image" class="text-danger"></span>
        <input type="submit" value="Save" class="btn btn-primary" style="margin-top:1rem" />
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

