@{
    ViewData["Title"] = "Animal Create";
}

<h1>index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="card" style="width: 18rem;">
    <img src="https://kopekblog.com/wp-content/uploads/2020/12/1331887.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Golden Retriever</h5>
        <h6>Age: 4</h6>
        <button type="button" class="btn btn-secondary" disabled>Dog</button>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>